<p class="lead text-center"> </p>
<div class="game-wrapper">
  <div class="game">
    <%= render partial: 'cell' %>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a id="run" class="btn btn-block btn-primary disabled">START</a>
      <a class="btn btn-block btn-warning clear">CLEAR</a>
    </div>
  </div>
</div>
